/* frontend/src/App.css */
.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
/* frontend/src/App.css */
.filters {
  margin-bottom: 20px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters input {
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}
.form-select {
  width: 15%; /* Adjust the width as needed */
}